  <footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__link">
      <a href="" class="footer__link-item">Магазины</a>
      <a href="" class="footer__link-item">Доставка</a>
      <a href="" class="footer__link-item">О компании</a>
    </div>

    <div class="footer__social">
      <i class="fab fa-instagram"></i>
      <a href="#" class="footer__social-item">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-pinterest-square"></i>
    </div>
  </div>
</footer>

<script src="button.js"></script>
</body>
</html>